#header h1 {
    color: #ffffff;
    font-weight: 700;
    font-size: 5.5rem;
    margin: 0;
    padding-top: 5 rem;
    text-align: center;
}

#header {
    background: url("../../assets/img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 300px;
    background-position-y: -100px;
}