footer {
    font-size: 1.5rem;
    background-color: red;
    margin-top: 3rem;
    padding: 1rem;
    color: #ffffff;
    box-shadow: 0 0 3px red;
}

footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: left;
}

footer a,
footer a:visited,
footer a:hover,
footer a:focus {
    color: #ffffff;
    text-decoration: underline;
}

footer a,
footer a:visited {
    text-decoration: none;
}