<footer class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <ul>
                <li><a [routerLink]="['/']">Home</a>
                </li>
                <li><a [routerLink]="['/about']">About</a>
                </li>
                <li><a [routerLink]="['/contact']">Contact</a>
                </li>
            </ul>
        </div>
        <div class="col-md-4">
            <ul>
                <li><a href="#">---</a></li>
                <li><a href="#">---</a></li>
                <li><a href="#">---</a></li>
            </ul>
        </div>
        <div class="col-md-4">
            <p><b>Kontakt</b></p>
            <p>Uvek nas mozete kontaktirati putem email-a</p>
            <p><b>email</b>: mail@gmail.com</p>
        </div>
    </div>
</footer>