<h2>About</h2>
<div class="row">
    <div class="col-md-4">
        <p> Lorem ipsum dolor sit amet, qualisque similique intellegat pri ex, vocibus nominavi no eos. Movet adipiscing vituperata ut sea, summo phaedrum similique no usu, cum pertinax maiestatis mediocritatem ad. Eu intellegam scriptorem pri, duo aperiri
            verterem referrentur ne. Mel ex diam nostrud feugait, nam quaeque hendrerit sententiae ut, pro ipsum dictas in. Est ad laudem probatus eleifend, melius nusquam alienum at his. Eos fabulas explicari mnesarchum at, sit modo deterruisset id.
        </p>
    </div>
    <div class="col-md-3 col-md-offset-1">
        <img src="https://s-media-cache-ak0.pinimg.com/originals/a4/4c/68/a44c68183fa4cfa820f00b80e3645439.jpg" class="img-circle round">
    </div>
    <div class="col-md-3 col-md-offset-1">
        <img src="http://www.hotel-r.net/im/hotel/es/hotel-room-7.jpg" class="img-circle round">
    </div>
</div>