<form role="form" [formGroup]="addRoomForm">
    <div class="form-group">
        <label for="roomName">Room name:</label>
        <input type="text" class="form-control" formControlName='roomname'>
    </div>
    <div class="form-group">
        <label for="hasTV">TV:</label>
        <select class="form-control" ng-selected="Yes" formControlName='tv'>
<option value="1" >Yes</option>
<option value="0" >No</option>
</select>
    </div>
    <div class="form-group">
        <label for="beds">Number of beds:</label>
        <input type="text" class="form-control" formControlName='beds'>
    </div>
    <button (click)="onAddRoom()" class="btn btn-default">Add room</button>
</form>