<nav class="navbar navbar-custom">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Brand</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-custom">
                <li><a [routerLink]="['/home']">Home</a></li>
                <li><a [routerLink]="['/about']">About</a></li>
                <li><a [routerLink]="['/contact']">Contact</a></li>
                <li><a [routerLink]="['/getrooms']">Rooms</a></li>
                <li><a [routerLink]="['/addroom']">Add Room</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-custom navbar-right">
                <li *ngIf="isAuth==true"><a (click)="onLogout()">Log out</a></li>
                <li><a [routerLink]="['/login']">Log in</a></li>
                <li><a [routerLink]="['/register']">Register</a></li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>